.PromptTag {
  padding: 5px 8px;
  margin: 0 2px;
  border: 1px solid #ccc;
  background: #efefef;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.PromptResponse {
  border-top: solid 1px #ccc;
  padding: 2rem;
}
